<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>
        {% t career.title %}
    </h2>
    <div class="summary">
        <p>
            {% t career.p1 %}
        </p>
        <p>
            {% t career.p2 %}
        </p>
        <p>
            {% t career.p3 %}

        </p>
        <p>
            {% t career.p4 %}

        </p>
        <p>
            {% t career.p5 %}

        </p>
        <p>
            {% t career.p6 %}

        </p>
        <p>
            {% t career.p7 %}

        </p>
    </div><!--//summary-->
</section><!--//section-->