<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
	<p>
    I like to define myself as an <b>IT and Digital Lover</b>. I began as an unexperienced programmer back in 2002 (15 years ago!) and been evolving since then to an <b>IT Manager and Team Leader</b>.
    </p>
    <p>
I met Ruby on Rails framework in 2005 (version 0.9.x) and when I started developing with it I realized I had found a powerful Tool and Methodology I felt comfortable with. But I couldn't imagine the impact it has had in my career. 
    </p>
    <p>
    <b>I’ve been performing my work remotely for 3 years</b>, while travelling around <b>South America</b> for 2 years. Right now I’m <b>settled in Barcelona</b>, working with a team spread all around Spain and reporting to <b>headquarters in Madrid and London</b>.
    </p>
    <p>
 I've been involved in many different projects, using different languages, technologies and database engines. 
    </p>
    <p>
I like to use <b>Agile methodologies</b> to plan and organize a project, but I always try to adjust the methodology to the type of team I’m working with.
    </p>
    <p>
I have experience in all phases of a project: <b>Analysis, Design, Development, Testing, Deployment and Continuous Evolution</b>.
    </p>
    <p>
I also know about system requirements and installation, and have used many Cloud Providers and solved several scalability issues.
    </p>
</div><!--//summary-->
</section><!--//section-->