 <div class="education-container container-block">
<h2 class="container-block-title">{% t education.title %}</h2>
<div class="item">
    <h4 class="degree"><a href="http://www.beslasalle.net/portal/masters/masters-technology-mgti-barcelona/Controller?mvchandler=portals&action=start&showingIndex=true&use-lang=es" target="_blank">{% t education.mgti %}</a></h4>
    <h5 class="meta">{% t education.mgti_at %}</h5>
    <div class="time">2016 - 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">{% t education.ie %}</h4>
    <h5 class="meta">{% t education.ie_at %}</h5>
    <div class="time">2004 - 2007</div>
</div><!--//item-->
</div><!--//education-container-->