<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>{% t experiences.title %}</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{% t experiences.iadbox.title %}</h3>
                            <div class="time">2013-{% t experiences.present %}</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.iadbox.com" target="_blank">iadbox</a> @ London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                        {% t experiences.iadbox.p1 %}

                        </p>  
                        <p>
                        {% t experiences.iadbox.p2 %}

                        </p>  
                        <p>
                        {% t experiences.iadbox.p3 %}

                        </p>  
                        <p>
                        {% t experiences.iadbox.p4 %}

                        </p>  
                        <p>
                        {% t experiences.iadbox.p5 %}

                        </p>  
                        <p>
                        {% t experiences.iadbox.p6 %}

                        </p>
                        <p>
                        {% t experiences.iadbox.p7 %}

                        </p>
                        <p>
                        {% t experiences.iadbox.p8 %}
                            
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{% t experiences.qustodian.title %}</h3>
                            <div class="time">2010-2014</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.qustodian.com" target="_blank">Qustodian Trust</a> @ Barcelona</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                        {% t experiences.qustodian.p1 %}

                        </p>
                        <p>
                        {% t experiences.qustodian.p2 %}

                        </p>
                        <p>
                        {% t experiences.qustodian.p3 %}

                        </p>
                        <p>
                        {% t experiences.qustodian.p4 %}

                        </p>  
                        <p>
                        {% t experiences.qustodian.p5 %}
                            
                        </p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">
                        {% t experiences.interfaz.title %}</h3>
                            <div class="time">2007-2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Interfaz Solutions @ Sitges, Barcelona</div>
                    </div><!--//meta-->
                    <div class="details">
                    <p>
                        {% t experiences.interfaz.p1 %}

                        </p>
                        <p>
                        {% t experiences.interfaz.p2 %}

                        </p>
                        <p>
                        {% t experiences.interfaz.p3 %}

                        </p>
                        <p>
                        {% t experiences.interfaz.p4 %}

                        </p>
                        <p>
                        {% t experiences.interfaz.p5 %}

                    </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">
                        {% t experiences.sadiel.title %}</h3>
                            <div class="time">2007</div>
                        </div><!--//upper-row-->
                        <div class="company">Sadiel @ Barcelona</div>
                    </div><!--//meta-->
                    <div class="details">
                    <p>
                        {% t experiences.sadiel.p1 %}

                        </p>
                        <p>
                        {% t experiences.sadiel.p2 %}

                        </p>
                        <p>
                        {% t experiences.sadiel.p3 %}

                        </p>
                        <p>
                        {% t experiences.sadiel.p4 %}

                    </p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->