<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT Manager and Lead Programmer</h3>
                            <div class="time">2013 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.iadbox.com" target="_blank">iadbox</a> @ London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
Along with an <b>excellent team</b> of between 6 and 8 members, we’ve been developing an <b>unintrusive marketing and advertising mobile platform</b> to be embedded in <b>Android and iOS apps, as well as in Mobile Websites</b>.
                        </p>  
                        <p>
This platform identifies each unique user of the App or Website and delivers exclusive content to him/her in the form of an Inbox. 
                        </p>  
                        <p>
While writing this résumé, we have around <b>70 million users</b>, processing a mean of <b>3,000 requests per minute</b>, with peaks of use of upto <b>20,000 rpm</b>.
                        </p>  
                        <p>
Everything is controlled from the backend where one can segment users by more than <b>50 different filters</b>, build rich media messages and publish them to its users, obtaining detailed reports of each campaign.
                        </p>  
                        <p>
We’ve been using a <b>Microservice Architecture</b>, building small services to solve each one of the challenges we’ve been facing. 
Using: 
<ul>
<li>Several Programming languages: <b>Ruby, Java and Elixir</b></li>
<li>Several Database engines: <b>MySQL, PostgreSQL and MongoDB</b></li>
<li>Different API communication protocols: <b>HTTP and RabbitMQ</b></li>
</ul>
                        </p>  
                        <p>
All this platform has been deployed on <b>Amazon AWS</b>, using several small instances, <b>autoscaling</b> when necessary and <b>load balancing</b> requests. All these services are deployed using <b>Jenkins</b>. We’ve been able to build a <b>robust, scalable and cost effective platform</b>.
                        </p>
                        <p>
Specifically, my functions have been:
<ul>
<li>Manage the team and projects, <b>prioritizing the tasks</b> of each member of the team. </li>
<li>Plan projects and deliverables using <b>Agile methodologies</b>.</li>
<li>Analyze and make <b>key technical decisions</b>.</li>
<li>Empower the use of <b>Test Driven Development</b>.</li>
<li>Develop and maintain most of the <b>Ruby and Java</b> services.</li>
<li><b>Report to Business</b> of the evolution of the projects and <b>obtain requirements and feedback</b>.</li>
</ul>
                        </p>
                        <p>
                            For more info about the platform visit <a href="http://www.iadbox.com">www.iadbox.com</a>.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2010 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.qustodian.com" target="_blank">Qustodian Trust</a> @ Barcelona</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
Qustodian is a <b>mobile App</b> (for iOS and Android) that is used to receive personalized Advertisements and Offers and <b>remunerate users</b> for it. 
                        </p>
                        <p>
In the Internet advertisement industry there are a lot of players making profit of our digital profiles without our consent or control. 
                        </p>
                        <p>
The goal of Qustodian is to <b>guard users’ profiles</b>, serve only agreed and meaningful advertisements, <b>give control to the user</b> to what he or she wants to see and pay him or her back as a sign of gratitude for watching the advertisement.
                        </p>
                        <p>
<b>My role</b> in this project was to <b>analyze, develop and maintain the platform's Backend</b> using <b>Ruby On Rails and MySQL</b>, building complex features and communicating through an API with the mobile apps.
I started as the <b>first technician</b> in the company, and end up with a Team of 6 developers, being always involved in the <b>key technical decisions</b>.
                        </p>  
                        <p>
                            For more info about Qustodian App visit <a href="http://www.qustodian.com">www.qustodian.com</a>.
                        </p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2007 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Interfaz Solutions @ Sitges, Barcelona</div>
                    </div><!--//meta-->
                    <div class="details">
                    <p>
<b>Lead Programmer</b> in a small company offering technical solutions, specialized in Mobile Video Streaming, SMS communication and XML feed.
                        </p>
                        <p>
Situate yourself in the <b>pre Smartphone era</b>, with many different devices, small screens and the slow internet access. iPhone (1st Generation) had just been launched, we had Nokia (Symbian), Blackberry, SonyEricsson and many other different devices.
                        </p>
                        <p>
We were building <b>mobile web pages</b>, and serving the most accurate <b>images and videos adjusting to the screen sizes and internet speed</b>, when the term <b>Responsive Design didn’t yet exist</b>.
                        </p>
                        <p>
Here is a list of projects I developed:
<ul>
<li>Alert and polling platform using SMS, integrating with several APIs to send and receive SMS’, we were able to create a full survey sending each question via SMS, receive the responses, analyze them and programmatically send another question depending on the given answer. Developed using Ruby on Rails.</li>
<li>Develop a template to build mobile websites, serving video and images, encoding videos for each device using ffmpeg, and serving them via streaming or progressive download. This template was used to build several mobile websites, including TV channels, and other video oriented sites. Developed using Ruby on Rails.</li>
<li>Develop of a tool for combining 2 videos (3gp encoding) in 1 at runtime, it was used to dynamically add advertisements to the videos before the real content of the video. Something similar to what Youtube does now. Developed with C.</li>
<li>Develop the Backend for iSports, an iPhone app, that showed Real Time scores on various sporting events. It basically consumed plenty of XML data and transform it using XSLT.</li>
<li>Develop of the web app http://myfanflash.com where one can sign up to follow and get news and updates of several leagues, teams and players. Accomplished by the ingestion of thousands of RSS feeds, parsing its contents and feeding a Solr (documental) database. Developed using Ruby on Rails.</li>
</ul>
Other responsibilities:
<ul>
<li>Linux server maintenance, installation of necessary software an libraries, getting them ready for our production apps.</li>
<li>Integration of Darwin Streaming Server, allowing to serve our videos via streaming over RSTP.</li>
<li>Specialized in ffmpeg encoding tool.</li>
</ul>
                    </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Java Programmer</h3>
                            <div class="time">2007</div>
                        </div><!--//upper-row-->
                        <div class="company">Sadiel @ Barcelona</div>
                    </div><!--//meta-->
                    <div class="details">
                    <p>
Sadiel is an IT Consulting Firm, in that moment it had more than 400 employees. I was part of a big team developing and maintaining different projects for the Catalonian Government.
                        </p>
                        <p>
Developing in Java J2EE using a special framework called openFrame, based in Struts, Spring and Hibernate.
                        </p>
                        <p>
I was able to integrate Lucene search engine into Hibernate inside openFrame framework, this tool was later used in many other projects.
                        </p>
                        <p>
I was also responsible of the training of Junior Developers.
                    </p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->