<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>{% t projects.title %}</h2>
    <div class="intro">
        <p>{% t projects.intro %}</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/graimon/liebre">Liebre</a></span> -
        <span class="project-tagline">
                    {% t projects.liebre %}

                    </span>

    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/openlogic/resque-multi-step" target="_blank">Resque Multi Step</a></span>
        -
        <span class="project-tagline">
                    {% t projects.resque %}
                    </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/jondot/sneakers" target="_blank">Sneakers</a></span> -
        <span class="project-tagline">
                    {% t projects.sneakers %}
                    </span>
    </div><!--//item-->
</section><!--//section-->