<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here is a short list of Open Source projects I've developed or somehow participated.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/graimon/liebre">Liebre</a></span> - 
                    <span class="project-tagline">
                        A Ruby gem that handles RabbitMQ Consumers and RPCs.
                    </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/openlogic/resque-multi-step" target="_blank">Resque Multi Step</a></span> - 
                    <span class="project-tagline">A little contribution to support Resque hooks in this Reque plugin.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/jondot/sneakers" target="_blank">Sneakers</a></span> - 
                    <span class="project-tagline">A little contribution adding headers to messages that entered in the error queue.</span>
                </div><!--//item-->
            </section><!--//section-->